.form-main {
  height: 100%;
  padding: 10rem 0;
  padding-top: 15rem;
  display: flex;
  background: linear-gradient(#00000082, #00000082), url(../images/banner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.form-main .container {
  width: 100%;
}
.form-main form {
  width: 50%;
  margin: auto;
  background: white;
  backdrop-filter: blur(10px);
  padding: 5rem;
  border-radius: 2rem;
}
.form-title {
  margin-bottom: 3rem;
}
.form-title h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--black);
}
.form-title .logo {
  width: 60%;
}
input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  border-radius: 1rem;
  background: transparent;
}
.gender {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}
.gender-type label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background: white;
  border-radius: 1rem;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: var(--soft-shadow);
}
.gender-type label i {
  font-size: 2.5rem;
  color: var(--secoundary);
}
.gender-type input {
  display: none;
}
.gender-main h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1rem;
}
.fild {
  height: 5rem;
  background: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  box-shadow: var(--soft-shadow);
}
.fild i {
  font-size: 2rem;
  color: var(--secoundary);
}
input:checked + label {
  background: var(--green);
}
input:checked + label p,
input:checked + label i {
  color: white;
}
.signup {
  height: 5rem;
  width: 100%;
  background: var(--secoundary);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.ask {
  text-align: center;
  color: var(--black);
  margin-top: 2rem;
}
.ask a {
  color: var(--secoundary);
}
.user-pic input {
  display: none;
}
.user-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: var(--secoundary);
  font-size: 4rem;
  color: white;
  margin: auto;
  margin-bottom: 2rem;
}
.user-pic label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}
.s-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background: white;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
  box-shadow: var(--soft-shadow);
  white-space: none;
  word-break: keep-all;
}
.s-btn img {
  width: 2.5rem;
}
.social-login-main {
  margin-top: 2rem;
}
.social-login-main h1 {
  font-size: 2rem;
  color: var(--green);
  font-weight: 600;
}
.bt {
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 600;
}
#birth {
  margin-top: 0.5rem;
}
@media (max-width: 991px) {
  input[type="date"]:not(.has-value):before {
    color: var(--black);
    content: attr(placeholder);
  }
  input[type="date"] {
    height: 5rem;
  }
}
@media (max-width: 660px) {
  .form-main {
    height: 100%;
    padding: 10rem 0;
    padding-top: 15rem;
  }
  .form-main form {
    width: 100%;
    padding: 3rem 2rem;
  }
  .gender {
    grid-template-columns: 1fr;
  }
  /* .fild {
    position: relative;
  }
  .fild input {
    height: 5rem;
  }
  .drop-ic {
    display: block !important;
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
  } */
}
